main{
    .container-fluid{
        display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h1{
        font-size: 2.6em;
        color:black;
        h2{
            font-size: 2.0em;
        }
    }
    }
}